#net.minecraft.inventory.container.Container

public-f net.minecraft.inventory.container.Container field_216965_e # containerType

#net.minecraft.entity.item.FallingBlockEntity

protected net.minecraft.entity.item.FallingBlockEntity field_145809_g # hurtEntities
protected net.minecraft.entity.item.FallingBlockEntity field_175132_d # fallTile
protected net.minecraft.entity.item.FallingBlockEntity field_145816_i # fallHurtAmount
protected net.minecraft.entity.item.FallingBlockEntity field_145815_h # fallHurtMax
protected net.minecraft.entity.item.FallingBlockEntity field_145808_f # dontSetBlock

#net.minecraft.block.FallingBlock

protected net.minecraft.block.FallingBlock func_176503_e(Lnet/minecraft/world/World;Lnet/minecraft/util/math/BlockPos;)V # checkFallable


#net.minecraft.inventory.container.RepairContainer

protected net.minecraft.inventory.container.RepairContainer field_82852_f # outputSlot
public net.minecraft.inventory.container.RepairContainer field_82853_g # inputSlots
public net.minecraft.inventory.container.RepairContainer field_82854_e # maximumCost
public net.minecraft.inventory.container.RepairContainer field_82857_m # repairedItemName
public net.minecraft.inventory.container.RepairContainer field_82855_n # player